link:hover{
  color: white;
}
.button{
  width: 40px;
  height: 40px;
}
.bar{
  position: relative;
  right: 8px;
  font-size:1.5em;
  color: rgb(211, 208, 208);
  
}
#shop{
   animation-name: shopicon;
   animation-duration:3s;
   animation-iteration-count: infinite;
}
@keyframes shopicon {
  100%{
    rotate: 0deg;
  }
 
  10%{
    rotate: 90deg;
  } 
  
}

@media screen and (min-width : 600px){
  .d-flex{
    margin-left: 30px;
  }

}